<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <add name="DbConnection" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
       connectionString="Server=my-db-server;Database=NewDbProd;Integrated Security=True;" 
       />
  
</connectionStrings>